.search-results {
  width: 361px;
  .search-title {
    margin-left: 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
  }
}
.search {
  width: 361px;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  display: flex;
  align-items: center;
  position: relative;
  &:focus-within {
    border: 2px solid rgba(9, 9, 10, 0.06);
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--black);
    height: 100%;
    border-radius: var(--search-border-radius);
    padding-left: 20px;
    width: 80%;
    font-size: 1.6rem;
    flex: 1;
    caret-color: var(--primary-color);
    // font-family: var(--font-family);
  }
  input:not(:placeholder-shown) + .search-btn {
    color: rgba(18, 18, 20, 0.521);
  }

  .search-btn {
    width: 52px;
    height: 100%;
    border: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    outline: none;
    color: rgba(79, 82, 95, 0.521);
    position: relative;
    &:hover {
      cursor: pointer;
      background-color: rgba(22, 34, 55, 0.03);
    }
    &:active {
      background-color: rgba(22, 34, 55, 0.06);
    }
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 70%;
      background-color: rgba(165, 167, 179, 0.521);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.clear,
.loading {
  position: absolute;
  right: 19%;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 34, 55, 0.34);
  cursor: pointer;
  // display: none;
}
.loading {
  z-index: 1;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.clear {
  font-size: 1.6rem;
}

.loading {
}
