.wrapper {
  --search-border-radius: 92px;
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  .inner {
    height: 100%;
    width: var(--default-layout-width);
    // background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
  }
  .search-results {
    width: 361px;
    .search-title {
      margin-left: 12px;
      color: rgba(22, 24, 35, 0.5);
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  .search {
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    align-items: center;
    position: relative;
    &:focus-within {
      border: 2px solid rgba(9, 9, 10, 0.06);
    }

    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--black);
      height: 100%;
      border-radius: var(--search-border-radius);
      padding-left: 20px;
      width: 80%;
      font-size: 1.6rem;
      flex: 1;
      caret-color: var(--primary-color);
    }
    input:not(:placeholder-shown) + span {
      display: none;
    }

    span {
      height: 28px;
      width: 1px;
      background-color: rgba(165, 167, 179, 0.521);
    }
    .search-btn {
      width: 52px;
      height: 100%;
      border: none;
      border-top-right-radius: var(--search-border-radius);
      border-bottom-right-radius: var(--search-border-radius);
      font-size: 2rem;
      outline: none;
      color: rgba(79, 82, 95, 0.521);
      &:hover {
        cursor: pointer;
        background-color: rgba(22, 34, 55, 0.03);
      }
      &:active {
        background-color: rgba(22, 34, 55, 0.06);
      }
    }
  }
  .clear,
  .loading {
    position: absolute;
    right: 19%;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 34, 55, 0.34);
    cursor: pointer;
    display: none;
  }

  .clear {
  }

  .loading {
  }
  .more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
  }
  .actions{
    display: flex;
    align-items: center;
  }
  //Menu
}
